footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: url(/images/footer.png);
  min-height: 30vh;
  width: 100%;
  color: var(--neutral-color);
}
footer p {
  color: var(--neutral-color);
  font-size: 14px;
  text-align: left;
}
.fa-customize {
  font-size: 30px;
  color: var(--neutral-color);
}
.footer__contact span {
  display: block;
}
