/*............HEADER..............................*/
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  height: 70px;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  z-index: 1000;
  right: 0;
  left: 50%;
  background: var(--neutral-color);
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px dashed #777;
}
nav li a {
  font-size: 16px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
/*........Banner......*/
.banner {
  background: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.banner__content {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.banner__content h1 {
  font-size: 35px;
  font-weight: 300;
  color: var(--neutral-color);
  margin: 0;
}
.banner__content p {
  color: var(--neutral-color);
  font-size: 12px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
  padding: 0;
}
