header {
  display: flex;
  background: var(--neutral-color);
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}
.logo {
  align-items: center;
  padding-top: 20px;
}

img.logo-image {
  height: 100px;
}

.nav-container {
  align-self: center;
  flex-grow: 1;
  padding-left: 20px;
}
nav {
  padding: 20px;
  position: fixed;
  top: 120px;
  background: var(--neutral-color);
  z-index: 1000;
  right: 200px;
  left: 0;
  right: 0;
  display: none;
  background: var(--mobile-nav-color);
  text-align: center;
}
nav ul {
  padding: 10px;
}

nav li {
  display: block;
  padding: 20px;
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: inline-block;
}

@media (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
  }
  nav ul {
    display: flex;
    flex: 1;
    margin: 0px;
    justify-content: center;
  }
  header label {
    display: none;
  }
}
@media (min-width: 800px) {
  img.logo {
    height: 70px;
  }

  nav {
    display: flex;
    position: static;
  }
}
