@media (min-width: 600px) {
  .logo img {
    height: 80px;
  }

  /*...........explore.........*/

  .home__card__wrapper {
    box-shadow: none;
  }

  .tablet__explore--kids--wrapper,
  .explore__teacher--wrapper,
  .explore__research--wrapper {
    grid-template-columns: 1fr 1fr;
  }
  /*......visit........*/
}

@media (min-width: 800px) {
  header {
    justify-content: start;
    padding: 10px;
  }
  header label {
    display: none;
  }
  nav {
    display: block;
    position: static;
  }
  nav li {
    display: inline-block;
    padding: 7px;
    border-bottom: none;
  }

  .banner__content h1 {
    font-size: 60px;
  }
  /*......Explore..................*/
  .section__card-wrapper {
    flex-direction: row;
  }
  .news__card--wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .home__card {
    max-width: 1000px;
    margin: 60px auto;
  }
  .explore__kids--wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet_hidden--explore {
    display: grid;
  }
  /*......Exibishion....*/
  .exhibition__wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  .reverse__wrapper .order__reverse1 {
    order: 1;
  }
  .reverse__wrapper .order__reverse2 {
    order: 2;
  }
  /*......visit..................*/
  .visit__row1,
  .visit__row2 {
    margin: 0 auto;
    padding: 0 50px;
  }
  .visit__row1 {
    grid-template-columns: auto 1fr 1fr;
    padding-top: 50px;
  }
  .visit__row2 {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
  }
  .visit__content--wrap {
    align-items: center;
  }
  /*......Contact..................*/
  .contact-page_wrapper {
    display: flex;
    flex-direction: row;
  }
  section.contact-page_detail {
    padding: 0 30px;
  }
  .contact h1 {
    font-size: 60px;
  }
  /*....get-involved.....*/
  .involvement__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 1000px;
    padding: 0 100px;
  }
  .support {
    padding: 0 10px;
  }
}
