@media (min-width: 600px) {
  .logo img {
    height: 80px;
  }

  /*...........card.........*/
  .section__card-wrapper {
    flex-direction: row;
  }
  .home__card__wrapper {
    box-shadow: none;
  }
  .news__card--wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet__explore--kids--wrapper,
  .explore__teacher--wrapper,
  .explore__research--wrapper {
    grid-template-columns: 1fr 1fr;
  }
  /*......Exhibition........*/
}

@media (min-width: 800px) {
  header {
    justify-content: start;
    padding: 10px;
  }
  header label {
    display: none;
  }
  nav {
    display: block;
    position: static;
  }
  nav li {
    display: inline-block;
    padding: 7px;
  }
  nav a {
    font-size: 22px;
  }
  .banner__content h1 {
    font-size: 60px;
  }
  /*......Explore..................*/
  .home__card {
    max-width: 1000px;
    margin: 60px auto;
  }
  .explore__kids--wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet_hidden--explore {
    display: grid;
  }
  /*......Exibishion....*/
  .exhibition__wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  .reverse__wrapper .order__reverse1 {
    order: 1;
  }
  .reverse__wrapper .order__reverse2 {
    order: 2;
  }
  /*......visit..................*/
  .visit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
    padding: 50px;
  }
  /*......Contact..................*/
  .contact-page_wrapper {
    display: flex;
    flex-direction: row;
  }
}
