header {
  background: var(--neutral-color);
  box-shadow: var(--box-shadow-small);
}
input,
textarea,
select {
  border: 1px solid var(--gray-background);
  margin: 5px 10px 15px 0;
  padding: 5px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
textarea {
  min-height: 100px;
}
.contact {
  margin: 20px auto;
}
.contact h1 {
  color: var(--header-button-color);
  text-align: center;
  margin: 20px 0;
  font-size: 45px;
}
label,
h2,
p {
  text-transform: capitalize;
  color: var(--paragraph-text-color);
  font-family: var(--text-paragraph);
  font-weight: 700;
}

.contact-page_wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  background: var(--neutral-color);
  border-radius: 15px;
  box-shadow: var(--box-shadow-small);
  margin-bottom: 50px;
}
section.contact-page_detail {
  display: block;
  padding: 30px 10px;
}
.contact-icon {
  padding-right: 20px;
}
section.contact-page_form {
  box-shadow: var(--box-shadow-small);
}
.contact-page_form > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
}
span.important {
  color: #ff0000;
}
.submit {
  background: var(--header-button-color);
  color: var(--neutral-color);
  padding: 10px 0px;
  font-size: 18px;
}
