.banner {
  background: var(--linear-gradient-banner),
    url(/images/exhibition/banner.jpg) center center no-repeat;
  background-size: cover;
}

.exhibition__wrapper {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: var(--box-shadow-small);
  padding: 0 20px;
}
.exhibition__wrapper h3 {
  color: var(--header-button-color);
  margin: 0;
  font-size: 20px;
}
.reverse__wrapper .order__reverse1 {
  order: 2;
}
.reverse__wrapper .order__reverse2 {
  order: 1;
}
.card {
  padding: 32px;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
    url(/images/exhibition/19.png) center;
  background-size: cover;
  text-align: left;
  height: 100vh;
}
.card p {
  color: white;
  text-transform: capitalize;
  font-size: 12px;
}

h3.card__title {
  font-size: 30px;
  color: var(--neutral-color);
  margin-bottom: 0;
}
button.button-exshibit {
  padding-left: 40px;
}
