/*..........explore-page banner section.....................*/
.banner {
  background: var(--linear-gradient-banner),
    url(/images/explore/explore-banner.png) center;
}

.explore__kids {
  width: 100%;
}

.explore__kids,
.explore__teacher,
.explore__research h2 {
  color: var(--header-button-color);
  text-align: center;
}
.explore__kids--wrapper,
.explore__teacher--wrapper,
.explore__research--wrapper p {
  padding: 0 30px;
  text-align: justify;
}
.explore__kids--wrapper,
.explore__teacher--wrapper,
.explore__research--wrapper {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 100%;
  margin: 0px auto;
  gap: 10px;
  padding: 40px;
}
h2.explor__h2 {
  margin: 70px 0 0 0;
}
.tablet_hidden--explore {
  display: none;
}

p {
  color: var(--paragraph-text-color);
  padding: 0;
}

#parallax1,
#parallax2,
#parallax3 {
  min-height: 70vh;
  background-size: cover;
}

#parallax1 {
  background: var(--linear-gradient-parallex),
    url(/images/explore/background-sec1.png) center right fixed no-repeat;
}

#parallax2 {
  background: var(--linear-gradient-parallex),
    url(/images/explore/exp-gallary.png) center fixed no-repeat;
}
#parallax3 {
  background: var(--linear-gradient-parallex),
    url(/images/explore/background-sec2.png) center left fixed no-repeat;
}
