.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 50%),
    url(/images/get-involved/banner.jpg) center center no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

.involvement__wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1000px;
  margin: 80px auto;
}
.support img {
  height: 100px;
}
h2.support__title {
  color: var(--header-button-color);
  text-transform: uppercase;
}
