.banner {
  background: var(--linear-gradient-banner),
    url(/images/get-involved/banner.jpg) center center no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

.involvement__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 100px auto;
}
.support img {
  height: 100px;
}
.support {
  padding: 0 10%;
  text-align: left;
}
h2.support__title {
  color: var(--header-button-color);
  text-transform: uppercase;
}
