/*...........Home-page first section.....................*/
.home__banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
    url(/images/home/banner1.png) center top no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

.banner--content {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
}

.banner--content h1 {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  color: var(--neutral-color);
}

/*...........card.....................*/
.home__card {
  max-width: 1000px;
  margin: 60px auto;
}
.home__card h2 {
  text-align: center;
  color: var(--header-button-color);
}
.section__card-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  align-items: start;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 20px;
}

.home__card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.home__card__wrapper p {
  padding: auto 40px;
  width: 300px;
  text-align: justify;
}
/*......image size...........*/
.card__image {
  width: 130px;
  overflow: hidden;
}

/*...........Home-page news section.....................*/
.home__news {
  max-width: 1200px;
  min-height: 700px;
  margin: 10px auto;
}
.home__news h2,
h3 {
  margin: 30px 0;
  text-align: center;
  color: var(--header-button-color);
}
#parallax {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/home/sec-image.png) center fixed no-repeat;
  min-height: 50vh;
  background-size: cover;
}

/*....news....*/
.news__card--wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  align-items: start;    
}
}
.news__card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 0.5px solid var(--box-shadow-small);
  align-self: normal;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 20ms;
}

.news__card:hover {
  transform: translateY(-1%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.news__card h4 {
  text-align: center;
  color: var(--header-button-color);
  margin: 0;
  padding-top: 20px;
}
.news__card p {
  padding: 0 30px;
  margin-bottom: 40px;
  text-align: justify;
}
