/*...........Home-page first section.....................*/
.banner {
  background: var(--linear-gradient-banner),
    url(/images/home/banner1.png) right top;
}

/*...........card.....................*/

.home__card h2 {
  text-align: center;
  color: var(--header-button-color);
}
.section__card-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.home__card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  box-shadow: var(--box-shadow-small);
}
.home__card__wrapper p {
  padding: auto 40px;
  width: 300px;
}
/*......image size...........*/
.card__image {
  width: 130px;
  overflow: hidden;
}

/*...........Home-page news section.....................*/
.home__news {
  max-width: 1200px;
  min-height: 700px;
  margin: 10px auto;
}
.home__news h2,
h3 {
  margin: 30px 0;
  text-align: center;
  color: var(--header-button-color);
}

#parallax {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/home/sec-image.png) center fixed no-repeat;
  min-height: 50vh;
  background-size: cover;
}

/*....news....*/
.news__card--wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  align-items: start;
  padding: 0 10%;
}
p.news__date {
  font-weight: bold;
}
.news__card {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border: 0.5px solid var(--box-shadow-small);
  align-self: normal;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 20ms;
}

.news__card:hover {
  transform: translateY(-1%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.news__card h4 {
  text-align: center;
  color: var(--header-button-color);
  margin: 0;
  padding-top: 20px;
}
.news__card p {
  padding: 0 30px;
  margin-bottom: 40px;
}
