.banner {
  background: var(--linear-gradient-banner),
    url(/images/visit/banner.jpg) center center no-repeat;
  background-size: cover;
}

.visit__row1,
.visit__row2 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: start;
  max-width: 900px;
}

.visit__content--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.visit__content--wrap p {
  margin: 0;
  padding: 3px 0;
}
.visit__content--wrap img {
  height: 70px;
  margin-bottom: 25px;
}
.visit__row1,
.visit__row2 {
  padding: 0 10%;
}
.visit__row1 {
  padding-top: 10%;
}
.visit__row2 {
  padding: 10%;
}

.hour__wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.free {
  font-weight: bolder;
}

.visit__title {
  text-align: start;
  color: var(--header-button-color);
  margin-top: 10px;
}
.location span {
  display: block;
  color: #777;
}
.visit__location--map iframe {
  max-width: 500px;
}
