.banner {
  background: url(/images/visit/banner.jpg) center center no-repeat;
  background-size: cover;
}
.banner__content--background {
  background: #000;
  opacity: 0.7;
  padding: 10px;
}

.visit {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: start;
}
.visit__content--wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
.visit__content--wrap p {
  margin: 0;
  padding: 3px 0;
}
.visit__content--wrap img {
  height: 100px;
  margin-bottom: 25px;
}
.hour {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}
.hours {
  display: flex;
  justify-content: space-between;
}

.free {
  font-weight: bolder;
}

p.visit__title {
  text-transform: uppercase;
}
.visit__title {
  text-align: start;
  color: var(--header-button-color);
  margin-top: 10px;
}
.location span {
  display: block;
  color: #777;
}
